<!--
<%= link_to omniauth_authorize_path(resource_name, 'facebook'), class: 'btn btn-primary-biky omniauth-btn', :title => "Sign in with #{'facebook'.to_s.titleize}" do %>
  <i class="fab fa-facebook"></i><span>Continuer avec Facebook</span>
<% end -%>

<br>
<p class='text-center'>Ou</p>
 -->
