<div class="footer">
  <div class="footer-links">
    Nous suivre :
    <!-- <a href="#" target="blank"><i class="fab fa-github"></i></a> -->
    <a href="https://www.instagram.com/biky_loc/" target="blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/Biky-2386750511561616/" target="blank"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/biky_loc" target="blank"><i class="fab fa-twitter"></i></a>
    <!-- <a href="#" target="blank"><i class="fab fa-linkedin"></i></a> -->
  </div>
  <!-- <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Biky
  </div> -->
</div>
