<nav>
  <div class="dropdown homepage-menu-mobile d-block d-md-none">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-bars"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
      <% if user_signed_in? %>
        <button class="dropdown-item" type="button">
            <%= link_to('Deconexion', destroy_user_session_path, method: :delete, class: 'btn btn-primary-biky') %>
        </button>
      <% else %>
        <button class="dropdown-item" type="button">
            <%= link_to('Se connecter', new_user_session_path, class: 'btn')  %>
         </button>
      <% end %>
        <button class="dropdown-item" type="button">
          <%= link_to('Infos', new_user_session_path, class: 'btn')  %>
        </button>
        <button class="dropdown-item" type="button">
          <%= link_to('S\'inscrire', new_user_registration_path, class: 'btn')  %>
        </button>
    </div>
  </div>
</nav>
