<%= link_to root_path do %>
  <h2 class='logo-biky-text logo-biky-text-top-left'>Biky</h2>
<% end %>

<div class="container">
  <br>
  <br>
  <br>
  <br>
  <h1>Politique de confidentialité</h1>
  <br>

    <p>
      Nous vous remercions pour l’intérêt porté à notre site. La protection de votre vie privée est très importante pour nous. Ci-dessous, nous vous donnons des informations détaillées sur le traitement de vos données.
    </p>

    <h3>1. La collecte et l’utilisation des données au moment de la création d'un profil ou lors de la conclusion d’un contrat de location</h3>

    <p>
      Nous recueillons vos informations personnelles lorsque vous les fournissez au moment d’une réservation, quand vous prenez contact avec nous (par exemple, en utilisant le formulaire de contact ou quand vous envoyez un e-mail) ou lors de la création d’un profil. Dans les formulaires respectifs, les informations collectées sont visibles pour tous. Nous utilisons vos informations pour la mise en place des contrats et le traitement de vos réservations. Après la suppression de votre compte, vos données ne seront plus accessibles et seront supprimées après la période de stockage obligatoire, sauf si vous avez expressément consenti à l'utilisation ultérieure celles-ci. La suppression de votre compte est possible à tout moment et peut, soit être demandée par mail à l’adresse mail de contact ci-dessous, soit être faite par vous-même si vous cliquez sur “supprimer votre profil définitivement” dans votre profil.
    </p>

    <p>
      Voici la liste des informations que nous récoltons ainsi que les raisons d’utilisation :
    </p>

    <ul>
      <li>
        Nom et prénom (assurance et rémunération)
      </li>
      <li>
        Date d’anniversaire (assurance d’âge minimum pour une location et pour la mise en location)
      </li>
      <li>
        Nationalité (assurance de la location et gestion du service client)
      </li>
      <li>
        Adresse (contact service client, virement banque, assurance) - Transmise au locataire lors de la validation de la location, invisible au grand public
      </li>
      <li>
        Numéro de téléphone (contact service client, contact locataire/propriétaire) - Transmise au locataire lors de la validation de la location, invisible au grand public
      </li>
      <li>
        Devise (affichage de prix, paiement et facture)
      </li>
      <li>
        Présentation (confiance dans la relation de location - pas obligatoire)
      </li>
      <li>
        Photo (confiance dans la relation de location - pas obligatoire)
      </li>
    </ul>

    <p>
      Lors de votre réservation, nous vous demandons votre destination. Ceci nous permet de vérifier que l’assurance puisse vous couvrir tout au long de votre voyage, et ce, même si vous traversez plusieurs pays.
    </p>

    <p>
      Pour pouvoir assurer votre location, nous avons également besoin de documents personnels. Ces documents ne sont pas visibles publiquement et servent seulement au traitement interne :
    </p>

    <ul>
      <li>
        Carte d’identité
      </li>
      <li>
        Permis de conduire
      </li>
      <!-- <li>
        Justificatif de domicile (non requis pour la location de véhicules immatriculés en Allemagne)
      </li> -->
    </ul>

    <h3>
      2. La collecte et l’utilisation des données au moment de la publication d’annonce
    </h3>

    <p>
      Pour publier une annonce, des informations concernant votre véhicule et vous-même vous sont demandées. Certaines informations sont visibles sur le site pour aider le locataire dans le choix de sa moto ou remorque. D’autres sont invisibles et servent à assurer correctement votre véhicule ou à effectuer votre règlement :
    </p>

    <p>
      Concernant le véhicule :
    </p>

    <ul>
      <li>
        Type de véhicule : visible
      </li>
      <li>
        Marque et modèle : visible
      </li>
      <li>
        Immatriculation : <em>invisible</em>
      </li>
      <li>
        Première circulation : visible
      </li>
      <li>
        Valeur : <em>invisible</em>
      </li>
      <li>
        Pays d'immatriculation : <em>invisible</em>
      </li>
      <li>
        Cylindrée : visible
      </li>
      <li>
        Mise en circulation : visible
      </li>
      <li>
        Adresse : véhicule affiché dans une zone géographique
      </li>
    </ul>

    <p>
      Concernant le propriétaire (invisible) :
    </p>

    <ul>
      <li>
        Carte d’identité (pour des propriétaires professionnels : carte d’identité du gérant ou représentant légal)
      </li>
      <li>
        Carte grise
      </li>
      <li>
        Carte verte
      </li>
      <li>
        Coordonnées bancaires
      </li>
      <li>
        Autorisation de location (quand le loueur/détendeur et le propriétaire sont deux personnes différentes)
      </li>
    </ul>


    <h3>
      3. La collecte des données pour la conclusion d’un contrat de location
    </h3>

    <p>
      Pour conclure le contrat, nous transmettons vos informations au propriétaire. Pour traiter vos paiements, nous transmettons vos coordonnées bancaires/vos coordonnées de carte bancaire à l'institut de crédit autorisé (Stripe). Cet institut est susceptible de sauvegarder vos coordonnées. Dans ce cas, la politique de confidentialité de l’institut s’applique.
    </p>

    <h3>
      4. Utilisation des données de la newsletter
    </h3>

    <p>
      En vous inscrivant à notre newsletter, vous nous autorisez à utiliser les données que vous avez fournies pour vous envoyer régulièrement celle-ci par e-mail. Le désabonnement de la newsletter est possible à tout moment et peut être fait soit par mail via l’adresse mail contact ci-dessous, soit via un lien fourni dans la newsletter.
    </p>

    <h3>
      5. Utilisation des cookies
    </h3>

    <p>
      Pour rendre la visite de notre site web attrayante et afin de permettre l'utilisation de certaines fonctions, nous utilisons des cookies. Ce sont de petits fichiers de texte qui sont stockés sur votre ordinateur ou smartphone. Certains cookies que nous utilisons seront supprimés après votre session de navigation lorsque vous fermez votre navigateur (il s’agit des soi-disant “cookies de session”). D'autres cookies restent sur votre appareil et nous permettent de reconnaître votre navigateur lorsque vous visitez à nouveau notre site (“cookies persistants”). Vous pouvez configurer votre navigateur afin d’en être informé à chaque utilisation de cookies. Vous pouvez également décider individuellement de les accepter ou non. Si vous refusez l’utilisation des cookies, certaines fonctionnalités de notre site peuvent êtres limitées.
    </p>

    <h3>
      6. Utilisation de Google analytics
    </h3>

    <p>
      Ce site utilise Google analytics, un service d'analyse de site internet fourni par Google Inc. (www.google.com). Google (Universal) Analytics utilise des méthodes qui permettent une analyse de votre utilisation du site, comme par exemple les "Cookies" (des fichiers texte qui sont stockés sur votre ordinateur). Les informations générées pendant votre utilisation du site sont habituellement transférées à un serveur de Google aux Etats-Unis et y sont stockées. Grâce à l'anonymisation des adresses IP sur ce site, l'adresse IP est réduite avant la transmission au sein des États membres de l'Union européenne ou d'autres parties de l'accord sur l'Espace économique européen. Seulement dans des cas exceptionnels, l'adresse IP complète sera transférée à un serveur de Google aux Etats-Unis et y sera raccourci. L'adresse IP anonyme ne peut pas être fusionnée avec d'autres données de Google.
    </p>

    <!-- <h3>
      7. Utilisation de New Relic
    </h3>

    <p>
      Grâce à New Relic, nous recevons des informations concernant le temps nécessaire pour le chargement de notre site et la taille des fichiers téléchargés. Ces informations sont transmises de manière anonyme et nous aident pour optimiser les performances et pour assurer ainsi à nos utilisateurs une meilleure expérience d’utilisation.
    </p>

    <h3>
      8. L'utilisation de Heatmap
    </h3>

    <p>
      Grâce à Heatmap, notre équipe peut voir les zones les plus “cliquées” sur notre site. Ces informations sont transmises de manière anonyme et nous aident pour optimiser les performances du site et pour assurer à nos utilisateurs une meilleure ergonomie.
    </p>
 -->
    <h3>
      7. Empêcher l’utilisation des cookies sur votre navigateur
    </h3>

    <p>
      Vous pouvez empêcher que les données générées par les cookies liés à votre utilisation du site (y compris votre adresse IP) soient transmises à Google en téléchargeant et installant le plugin disponible sur le lien suivant : https://tools.google.com/dlpage/gaoptout?hl=fr<br> Si vous ne souhaitez pas installer le plugin dans le navigateur, vous pouvez cliquer sur ce lien afin d'empêcher à Google Analytics de répertorier vos informations à l'avenir. Dans ce cas, un cookie opt-out est stocké sur votre appareil. Si vous effacez vos cookies, vous devez cliquer sur le lien à nouveau.
    </p>

    <h3>
      8. Informations pour l'utilisation de Facebook Connect
    </h3>

    <p>
      Facebook Connect est un service de Facebook, Inc. L'utilisation de Facebook Connect est soumise à la politique de confidentialité et aux conditions d'utilisation de Facebook. Lorsque vous utilisez Facebook Connect, certaines données publiques de votre profil Facebook sont transmises à Biky. Ces données sont stockées et traitées par la SAS Biky pour l'inscription sur la plate-forme. En vous inscrivant sur la plate-forme Biky via Facebook Connect, vous consentez au transfert des données de votre profil Facebook à Biky. De plus, vous autorisez Biky à l’utilisation de ces données.
    </p>

    <!-- <h3>
      11. Invitation par mail pour laisser un avis
    </h3>

    <p>
      Lorsque vous nous avez donné votre consentement, pendant ou après la réservation, en activant une case à cocher ou en cliquant sur un bouton respectif, nous utilisons votre adresse e-mail pour vous inviter à laisser un avis sur votre réservation. Ce consentement peut à tout moment être révoqué par un e-mail à l’adresse mail suivante : <a href="mailto:contact@biky-loc.fr">contact@biky-loc.fr</a>
    </p> -->

    <h3>
      9. Droit à l'information et possibilités de contact
    </h3>

    <p>
      Vous disposez d'un droit à l'information, à la rectification et à l’effacement gratuit sur les données que nous stockons sur votre personne. Pour toute question concernant le traitement ou l'utilisation des données personnelles ou pour la correction ou la suppression des données et la révocation du consentement ou de l'opposition à une utilisation particulière, contactez-nous directement à l’adresse mail suivante : <a href="mailto:contact@biky-loc.fr">contact@biky-loc.fr</a>.
    </p>
    <br>
    <br>
    <br>
</div>
