<div class="banner banner-title-image">
  <div class="banner-content">
    <%= image_tag asset_path('logo_biky_white.png'), alt: 'biky logo', width: '40%' %>
    <p>Premier site de location de 2 roues entre particuliers</p>
    <a href="#" class="btn btn-primary-biky">Comment ça marche ?</a>
  </div>
</div>


<div class="container insurance-container">
  <div class="insurance-tag">
    <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/6/6d/Macif_logo.gif/803px-Macif_logo.gif" alt="Logo Macif">
    <p>Pour plus de sérénité, Macif assure toutes nos locations</p>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="proposal">
        <div class="proposal-icon">
          <img src="https://static.thenounproject.com/png/1148410-200.png" alt="Euros">
        </div>
        <h3>Gagnez de l'argent</h3>
        <p>Gagnez jusqu’à <span>3 000 € par an</span> en mettant en location votre véhicule ou votre remorque moto. <span>Econnomisez jusqu’à 20%</span> sur vos location en passant par la location de particuliers à particuliers</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="proposal">
        <div class="proposal-icon">
          <img src="https://static.thenounproject.com/png/800605-200.png" alt="Moto locked">
        </div>
        <h3>Louez en sécurité</h3>
        <p>La <span>Macif</span> assure toutes les locations passée via byki. Ainsi vous êtes sur d’être <span>couvert en toutes circonstances</span>.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="proposal">
        <div class="proposal-icon">
          <img src="https://static.thenounproject.com/png/540620-200.png" alt="Confiance">
        </div>
        <h3>Communauté</h3>
        <p><span>Nous connaissons</span> chacun de <span>nos membres</span>. Comment ? <span>Nous vérifions</span> profils, avis, et pièces d'identité. Vous savez ainsi avec qui vous traitez.</p>
      </div>
    </div>
  </div>
</div>

<div class="banner banner-rent-image">
  <div class="container">
  <div class="col-xs-12 col-md-6">
    <h2>TU AS UN 2 ROUES, UNE REMORQUE ?</h2>
    <p>Mets la en location sur byki et gagne jusqu’à 3 000€ par an soit 250€/mois</p>
    <a href="#" class="btn btn-primary-biky">Deposes ton annonce</a>
  </div>
  </div>
</div>


<h2 class='text-center'>Choisis ta raison de louer</h2>
<div class="row">
  <div class="col-xs-12 col-md-4">
    <div class="proposal">
      <div class="proposal-icon">
        <img src="https://static.thenounproject.com/png/224428-200.png" alt="Roadtrip">
      </div>
      <h3>Roadtrip, Weekend</h3>
    </div>
  </div>

  <div class="col-xs-12 col-md-4">
    <div class="proposal">
      <div class="proposal-icon">
        <img src="https://static.thenounproject.com/png/780045-200.png" alt="Love moto">
      </div>
      <h3>Essayer avant d'acheter</h3>
    </div>
  </div>
</div>


<%= render 'shared/footer' %>
