/* Your banner CSS file */
.banner {
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  color: white;
  align-items: center; /*to align vert */
  justify-content: center; /*to align hor */
}

.banner-authentication-image {
  min-height: 100vh;
  background-position: calc(100% - 20%);
  background-image:
  // linear-gradient(180deg, rgba(0, 59, 147, 0.4) 0%, rgba(0, 59, 147, 0.1) 100%),
  // url('http://www.ehstoday.com/sites/ehstoday.com/files/uploads/2017/06/motorcycle.jpg');
  url('omniauth/login_motorcycle.jpg')
}
