.btn-primary-biky {
  background-color: $blue-biky;
  color: $white-biky;
}

.btn-primary-biky:hover {
  background-color: $blue-5-biky;
  color: $white-2-biky;
}

.btn-secondary-biky {
  background-color: $white-biky;
  border: 1px solid $blue-biky;
  color: $blue-biky;
}

.btn-secondary-biky:hover {
  background-color: #E6F0FF;
  color: $blue-biky;
}
