.footer {
  background: $blue-4-biky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: $white-biky;
  font-weight: 100;
  box-shadow: 0px -4px 4px rgba(0, 28, 69, 0.5);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $white-biky;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: $blue-3-biky;
}
.footer .fa-heart {
  color: $red;
}
