.homepage-menu-large {
  z-index: 1;
  position: absolute;
  top: 16px;
  left: 16px;
}

.homepage-menu-mobile {
  z-index: 1;
  position: absolute;
  bottom: 0px;
  left: 0px;
 .dropdown-toggle {
    color: $white-biky;
    font-size: 150%;
 }

}


.menu-left-fullscreen {
  left: 100px;
}

.top-left-links .top-right-links {
  margin: 16px;
  border-radius: 40px;
  background-color: $white-biky;
}


