// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Components
@import "components/index";
@import "components/banner";
@import "components/footer";
@import "components/button";
@import "components/tab";
@import "components/menu";

// Pages
@import "pages/index";


///////////////////

@keyframes play72 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -57600px 0px;
  }
}
.shapeshifter {
  animation-duration: 1200ms;
  animation-timing-function: steps(72);
  width: 800px;
  height: 800px;
  transform: scale(0.32);
  background-repeat: no-repeat;
}
.shapeshifter.play {
  animation-name: play72;
}

///////////////////



// Used in many pages
body {
  background-color: $white-biky;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.logo-biky-text {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  text-align: justify;
  color: $blue-3-biky;
}

.logo-biky-text-top-left {
  font-size: 48px;
  z-index: 1;
  position: absolute;
  left: 24px;
  top: 16px;
}

.logo-biky-title {
  font-size: 100px;
  display: inline-block;
}


.title-logo-animated {
  // height: 300px;
  // padding: 0;
  // margin: 0;
}

a:hover {
  text-decoration: none;
}

.thin {
  font-weight: 300;
  color: $gray-3-biky;
}

.smallest {
  font-size: 12px;
}

.white {
  color: $white-biky;
}

.container_without_padding {
  padding-left: 0;
  padding-right: 0;
}
