<%= link_to root_path do %>
  <h2 class='logo-biky-text'>Biky</h2>
<% end %>

<div class="wrapper">
  <div class="row">
    <div class="col-xs-12 col-md-6 authentication">
      <div class="authentication-form">
        <%= yield %>
      </div>
      <div class="authentication-footer">
        <div class="authentication-footer-copyright thin smallest">
          © Biky 2019 - Tous droits réservés
        </div>
        <div class="authentication-footer-links smallest text-right">
          <ul class="list-inline">
            <li class="list-inline-item"><a href="#">CGU</a></li>
            <li class="list-inline-item"><a href="#">Politique de confidentialité</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="d-none d-md-block col-md-6 banner banner-authentication-image">
    </div>
  </div>
</div>
