<%= link_to root_path do %>
  <h2 class='logo-biky-text logo-biky-text-top-left'>Biky</h2>
<% end %>

<div class="wrapper">
  <div class="row">
    <div class="col-xs-12 col-md-6 authentication">
      <div class="authentication-form">
        <%= yield %>
      </div>
      <div class="footer-wrapper">
        <%= render 'shared/footer' %>
      </div>
    </div>
    <div class="d-none d-md-block col-md-6 banner banner-authentication-image">
    </div>
  </div>
</div>
